<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ShoeGrab.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <ShoeGrab.Properties.Settings>
            <setting name="keyWords" serializeAs="String">
                <value>Jordan,Spizike,3M</value>
            </setting>
            <setting name="watchUsers" serializeAs="String">
                <value>NikeStore</value>
            </setting>
            <setting name="browserPath" serializeAs="String">
                <value />
            </setting>
            <setting name="browserSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="autoCheckout" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="shoeSize" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="checkoutSetting" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="checkoutEmail" serializeAs="String">
                <value>username@provider.com</value>
            </setting>
            <setting name="checkoutPassword" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="firstName" serializeAs="String">
                <value>Joe</value>
            </setting>
            <setting name="lastName" serializeAs="String">
                <value>Bloggs</value>
            </setting>
            <setting name="rsvpEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="linkEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rsvpKeyWords" serializeAs="String">
                <value>Jordan,Spizike,3M,RSVP</value>
            </setting>
            <setting name="rsvpWatchUsers" serializeAs="String">
                <value>NikeBoston,NikeNYC</value>
            </setting>
        </ShoeGrab.Properties.Settings>
    </userSettings>
</configuration>